


<h1 style="text-align:center">Welcome</h1>
<br />
<h5 style="text-align:right">          @ViewBag.MySession</h5>
<h5 style="text-align:right">   Type:   @ViewBag.roleShow</h5>
<br />
<br />
<a style="margin-left:1240px; text-decoration:none;" asp-controller="TMS" asp-action="Logout">Logout</a>
